html {
    background: rgb(155, 112, 112) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --main-font: 'Text Me One', sans-serif;
    --main-font-weight: 800;
    --main-font-size: 0.8rem;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: white;
}

.dashboard-container {
    height: 100%;
    width: 13vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: url(./images/bi-wood.png);
    overflow-x: hidden;
    padding-top: 20px;
}

@media screen and (max-height: 450px) {
    .dashboard-container {
        padding-top: 15px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    background: darkred;
    flex-direction: column;
    max-width: 100vw;
    margin-left: 13vw;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.dash {
    margin: 1rem;
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: var(--main-font-size);
    cursor: pointer;
}

.dash:hover {
    transform: scaleX(1.1) scaleY(1.2);
    transition: 400ms;
    color: yellow;
}

.dashboard-text {
    font-size: 1.4rem;
    font-weight: 900;
}

.search-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    flex-shrink: 3;
}

.profile-container {
    display: flex;
    margin: 0.3rem;
    padding: 0.5rem;
}

.header-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.header-sticky-container {
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-top: 90px;
    margin-left: 13vw;
    margin-bottom: 0;
    background: darkred;
}

.header-sticky-container .k {
    display: flex;
    flex-direction: row;
}

.button-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-container button {
    padding: 0.3rem;
    align-self: center;
    margin: 0.5rem;
    cursor: pointer;
    background: peru;
    border-radius: 10%;
}

.button-container button:hover {
    transform: scale(0.9, 0.9);
    transition: 300ms;
    box-shadow: -0.2rem -0.4rem white;
}

.button-container2 {
    visibility: hidden;
}

.krusty-title {
    text-shadow: 0.13rem 0.13rem black;
}

.burger-img {
    align-self: center;
    margin: 0.5rem;
}

input {
    padding: 0.2rem;
    margin: 0.3rem;
}

.icon {
    margin: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 30%;
    background-color: rgb(83, 82, 82);
    box-shadow: 0 0 0.3rem yellow;
}

.icon:hover {
    transform: scale(1.2);
    transition: 300ms;
    box-shadow: inset;
    box-shadow: 0 0 0.3rem white;
}

label {
    padding: 0.2rem;
    margin: 0.3rem;
}

.icon-search {
    cursor: pointer;
    padding: 0.2rem;
    margin: 0.3rem;
}

.icon-search:hover {
    transform: scaleX(1.1);
    transition: 400ms;
    color: yellow;
}

.name-text {
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.name-text:hover {
    transition: 300ms;
    color: blue;
    font-weight: 900;
    text-decoration: underline;
}

.main-grid-container {
    display: grid;
    margin-top: 0px;
    height: 100vh;
    margin-left: 13vw;
    grid-template-columns: minmax(0, 35%) minmax(0, 35%) auto;
    grid-auto-rows: 90px;
}

.side-container-one {
    grid-column: 3/4;
    grid-row: 1/5;
    background: url(./images/wood-bi2.jpg);
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;
}

.side-container-two {
    grid-column: 3/4;
    grid-row: 5/span 5;
    background: url(./images/wood-bi3.jpg);
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
}

.cell-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: span 2;
    border: 2px solid black;
    border-radius: 5%;
    margin: 0.2rem;
    padding: 0.5rem;
    color: black;
    overflow: hidden;
    background-color: pink;
}

.cell-icons {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
}

.cell-icons i {
    padding: 0.5rem;
    font-size: x-large;
    cursor: pointer;
    color: darkred;
}

.cell-icons i:hover {
    transform: scaleX(1.1) scaleY(1.1);
    transition: 300ms;
    color: red;
}

.cell-subtitle {
    align-self: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    margin-top: 0rem;
    line-height: 1;
    color: darkred;
}

.cell-text {
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    margin-top: -0.2rem;
}

.side-subtitle-one {
    align-self: center;
    font-size: 1.6rem;
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 40%;
    margin-top: 0.3rem;
    text-shadow: 0.04rem 0.05rem red;
}

.side-container-one .subtitle {
    text-align: center;
    color: yellow;
    font-size: 0.9rem;
}

.side-container-one .a {
    margin: 1.3rem;
}

.side-subtitle-two {
    color: black;
    align-self: center;
    font-size: 1.6rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 40%;
    margin-top: 0.3rem;
    text-shadow: 0.05rem 0.06rem red;
}

.side-text {
    text-align: center;
    color: darkred;
    font-weight: 900;
    font-size: 0.9rem;
}

.friend-profile {
    display: flex;
    flex-direction: row;
    background: rgba(205, 134, 63, 0.39);
    border-radius: 30%;
    border: 1px ridge brown;
    margin: 0.3rem;
}

.friend-profile .icon {
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 2rem;
}

.friend-text {
    justify-self: center;
    align-self: center;
    color: darkred;
}

.friend-text span {
    color: darkblue;
    cursor: pointer;
}

.friend-text span:hover {
    cursor: pointer;
    transition: 400ms;
    background: peachpuff;
    padding: 0.1rem;
    border-radius: 20%;
}

#copyright {
    position: absolute;
    bottom: 0;
    font-size: 0.6rem;
    color: white;
    z-index: 2;
    margin-left: 0.3rem;
}

.fa-github {
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
    color: darkred;
}


/* Add a hover effect if you want */

.fa-github:hover {
    color: darkgoldenrod;
    transition: 0.5s;
    transform: scale(1.4);
    text-decoration: none;
}
